@media only screen and (min-width: 1000px) {
    .contents {
        padding: 0 calc(100px + 5vw);
    }
}

.icon {
    width: 32px;
    height: 32px;
    margin: 8px;
}

.mySlides {
    float: right;
  }

.headerbox {
    display: block;
    float: left;
    background-color: black;
    margin: 0% 10%;
    padding: 16px;
}