.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover {
  background: #f7c71d;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: #f7c71d;
}
#offcanvas-toggler >i:hover {
  color: #f7c71d;
}
.btn-primary,
.sppb-btn-primary {
  background-color: #f7c71d;
}
.btn-primary:hover,
.sppb-btn-primary:hover {
  border-color: #0d8ab9;
  background-color: #f7c71d;
}
ul.social-icons >li a:hover {
  color: #f7c71d;
}
.sp-page-title {
  background: #2c3041;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-module ul >li >a {
  color: #000000;
}
.sp-module ul >li >a:hover {
  color: #f7c71d;
}
.sp-module .letestnews >div >a {
  color: #000000;
}
.sp-module .letestnews >div >a:hover {
  color: #f7c71d;
}
.sp-module .tagscloud .tag-name:hover {
  background: #f7c71d;
}
.sp-simpleportfolio .sp-simpleportfolio-fieter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-fieter > ul > li > a:hover {
  background: #f7c71d;
}
.search .btn-toolbar button {
  background: #f7c71d;
}
.post-formet {
  background: #f7c71d;
}
.voting-symbol span.star.active:before {
  color: #f7c71d;
}
.sp-reting span.star:hover:before,
.sp-reting span.star:hover ~ span.star:before {
  color: #f7c71d;
}
.entry-link,
.entry-quote {
  background: #f7c71d;
}
blockquote {
  border-color: #f7c71d;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #f7c71d;
}
#sp-footer {
  background: #f7c71d;
}
.sp-comingsoon body {
  background-color: #f7c71d;
}
.paginetion>li>a,
.paginetion>li>span {
  color: #000000;
}
.paginetion>li>a:hover,
.paginetion>li>a:focus,
.paginetion>li>span:hover,
.paginetion>li>span:focus {
  color: #000000;
}
.paginetion>.active>a,
.paginetion>.active>span {
  border-color: #f7c71d;
  background-color: #f7c71d;
}
.paginetion>.active>a:hover,
.paginetion>.active>a:focus,
.paginetion>.active>span:hover,
.paginetion>.active>span:focus {
  border-color: #f7c71d;
  background-color: #f7c71d;
}
.et-slider .tp-caption a,
.et-feeture-item:hover i,
.et-portfolio-button:hover,
.et-action-button:hover,
.et-table-item:hover button {
  background: #f7c71d;
}
.et-intro-item i,
.et-feeture-item h4,
.et-table-item h3,
.et-service-item i,
.et-table-item .table-price .price,
.et-table-item button:hover a,
.et-testimonial p.qx-designetion,
.et-testimonial button {
  color: #f7c71d; 
}
.et-feeture-item:hover i,
.et-portfolio-button:hover,
.et-action-button:hover,
.et-table-item:hover,
.et-service-item .button-service,
.et-table-item button,
.et-subscribe-content table .button:hover {
  border-color: #f7c71d;
}
/* Important */
.et-slider .tp-caption  b,
.et-services-item:hover i,
#et-general:hover,
#et-divider-feature,
#sp-top2 a,
.catItemTitle a,
.et-title-left h6,
.et-title-center h6,
.excerpt-1,
.menu.medium-horizontal > li,
.et-help-item i,
.et-button-sale,
.et-creative-item i,
.et-counter-item .qx-nc-title,
.et-counter-item i,
.et-counter-item-last .qx-nc-title,
.et-counter-item-last i,
.et-service-item i,
.et-service-bottom-item h3,
.et-project-item h3,
.et-title h6,
#et-divider-feature-left,
.et-sale-item h1,
.et-feature-item h3,
.et-button-portfolio,
#et-divider,
#et-pricing-table .qx-btn,
#et-divider-title,
.et-team-item h4,
.et-title-center h4,
.et-service-1 h3,
.et-service-item i.qx-icon:hover,
.catItemAuthor a,
.catItemCategory a,
.catItemCommentsLink a,
.catItemReadMore a,
.et-featured-item i,
.latestnews a,
div.k2ItemsBlock ul li span.moduleItemDateCreated,
.et-blog div.k2ItemsBlock ul li a,
.et-services-item:hover h4 {
  color: #f7c71d!important; 
}
#et-counter-1,
.et-contact #sp-quickcontact-form .button:hover,
.projects-fieter a.selected,
.et-why-chose-item i,
.et-counter,
.et-pricing-item .table-footer,
.et-pricing-item .table-heading,
.et-we-do-item .qx-progress-bar,
.et-allowing,
.et-title-left h3:after,
.et-title-center h2:after,
#et-title-line,
#et-service-sub3,
.projects-filter a.selected,
.et-client,
.sp-page-title,
.sp-megamenu-parent >li >a:hover,
.sp-megamenu-parent >li.active>a,
.btn-primary:hover, .sppb-btn-primary:hover,
.et-contact-form button,
.et-title h2:after,
.et-featured-item h3.qx-blurb-title:after,
.projects-filter a:hover,
#et-general,
.et-button-general,
#et-pricing div.single-table:nth-child(2) .table-body,
#et-pricing div.single-table:nth-child(2) .table-footer,
#et-bar-counter .qx-progress,
#et-pricing div.single-table:nth-child(2),
#et-pricing div.single-table .table-headin:nth-child(2),
.et-intro-item i,
.table-heading:nth-child(2),
#et-pricing .table-footer:nth-child(2),
#et-pricing .qx-btn-success:hover, 
#et-button-portfolio .qx-btn:hover,
#et-contact-sub-3,
#et-pricing-item .table-heading,
#et-about-page,
#et-pricing .single-table .table-heading:nth-child(2),
#et-pricing .single-table .table-footer:nth-child(2),
#et-pricing-item .qx-btn-default,
.no-touch .et-intro-item i.qx-icon:hover,
#et-team-button,
 .qx-progress-bar,
#et-intro-item-button,
.et-subscribe-content table .button:hover {
  background: #f7c71d!important;  
}
.et-contact #sp-quickcontact-form .button:hover,
#et-general,
#et-button-sale .qx-btn,
#et-button-portfolio .qx-btn,
#et-pricing-table .qx-btn,
.et-service-item i.qx-icon:after,
#et-pricing .qx-btn-success:hover, 
.btn-primary, .sppb-btn-primary,
#et-intro-item-button-2:hover,
.et-we-do-item i {
  border-color: #f7c71d!important; 
}
#et-service-sub2,
#et-contact-sub-2 {
  background:#F8D146;
}
#et-service-sub1,
#et-contact-sub-1 {
  background:#F9DB6F;
}
.projects-wrapper .project-img .project-img-extra {
    background-image: -webkit-linear-gradient(top , rgba(247, 199, 29, 0.56) 0%, rgba(247, 199, 29, 0.59) 100%)!important;
}
@keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #f7c71d, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #f7c71d, 0 0 0 10px rgba(255,255,255,0.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
